<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/index}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người tham dự</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="showcase" style="margin-top: 3rem" layout:fragment="content">
    <h1>Quản lý người tham dự sự kiện</h1>

    <!-- Danh sách người tham dự đã được thêm vào sự kiện -->
    <h2>Danh sách người tham dự sự kiện</h2>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="participant : ${eventParticipants}">-->
<!--            <td th:text="${participant.id}"></td>-->
<!--            <td th:text="${participant.name}"></td>-->
<!--        </tr>-->
        <tr>
            <td>
                aaaaaaaaaaa
            </td>
            <td>
                aaaaaaaaaaa
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Form để chọn và thêm người tham dự vào sự kiện -->
    <h2>Danh sách người tham dự chưa được thêm vào sự kiện</h2>
    <form action="#" method="post">
        <table border="1">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Tên</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="participant : ${allParticipants}">-->
            <tr>
<!--                <td>-->
<!--                    &lt;!&ndash; Checkbox để chọn các người tham dự &ndash;&gt;-->
<!--                    <input type="checkbox" name="selectedParticipants" th:value="${participant.id}">-->
<!--                </td>-->
<!--                <td th:text="${participant.id}"></td>-->
<!--                <td th:text="${participant.name}"></td>-->
                <td>aaaaaa</td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Thêm người tham dự vào sự kiện</button>
    </form>
</div>

</body>
</html>
